body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    /* background-color: #f7f7f7; */
}
  
.container {
    max-width: 500px;
    margin: 30px auto;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
  
h1 {
    text-align: center;
    color: #333;
}
  

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}
  
input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input-checkbox {
    width: 25px;
    height: 25px;
    border: none;
    border-radius: 5px;
    accent-color: #4ca750;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.input-checkbox:hover {
    accent-color: #f0f;
    cursor: pointer;
}

textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    height: 100px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
  
.saveButton {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
  
.saveButton:hover {
    background-color: #45a049;
}

.deleteButton {
    background-color: #af4c4c;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
    float: right;

}
  
.deleteButton:hover {
    background-color: #8f3b3b;
}

.form-group-small{
    margin-left: 3rem;
    font-size: .7rem;
}

.notFound {
    text-align: center;
    color: #f00;
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 2rem;
}